@{
    ViewBag.Title = "Index";
}

<h2>.NET 4.5 MVC</h2>

<button id="getDate">Get Date</button>
<br />
<button id="setDate">Set Date</button>
<br />

<label id="theId" data-bind="text: id" ></label>
<br />
<input id="theData" data-bind="date: currentDate" style="width:300px" />


@section Scripts{
    <script src="~/Scripts/jquery-ui-1.10.2.js"></script>
    <script src="~/Scripts/knockout-2.2.0.debug.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
    <script src="~/Scripts/knockout.bindings.date.js"></script>
    <script src="~/Scripts/sample-45.js"></script>
}
